<!DOCTYPE html>
<!--
  title: title of story
  text: text of story (the actual story)
  author: author of story
  date: last edited
 -->
<html>
  <head>
    <title> HOME </title>
  </head>

  <body>
    <div class="login-container">
        <form class="login-form" action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="button-container">
                <button type="submit" class="login-btn">Login</button>
                <a href="{{ url_for('register') }}" class="signup-btn-link"><button type="button" class="signup-btn">Sign Up</button></a>
            </div>
        </form>
    </div>
    <h1> Hello, {{ username }}. </h1>

    <h2> Create story:</h2>

    <form action="/create">
      <input type="submit" value="Create New Story">
    </form>

    <br><br>

    <form action="/login">
      <input type="submit" value="Logout">
    </form>

  </body>

</html>
