<!DOCTYPE html>
<!--
  title: title of story
  text: text of story (the actual story)
  author: author of story
  date: last edited
 -->
<html>
  <head>
    <title> LOGIN </title>
  </head>

  <body>
    <h1> Stories by Indigo </h1>
    Log in to access stories. Register to create new account. <br><br>
    <form action="/login" method="POST">
        Username: <input type="text" name="username">
        <br><br>
        Password: <input type="password" name="password">
        <br><br>
        <input type="submit" value="Log in">
    </form>

    <br><br>

    <form action="/register">
        <input type="submit" value="Register">
    </form>
      
  </body>

</html>
