<!DOCTYPE html>
<!--
  title: title of story
  text: text of story (the actual story)
  author: author of story
  date: last edited
 -->
<html>
  <head>
    <title> REGISTER </title>
  </head>

  <body>
    <h1> Account registration </h1>
    Register for new users. <br><br>
    <form action="/register" method="POST">
        Username: <input type="text" name="username">
        <br><br>
        Password: <input type="password" name="password">
        <br><br>
        <input type="submit" value="Log in">
    </form>
  </body>

</html>
